[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[packages]
"jinja2" = "*"
python-dateutil = "*"
numpy = "*"
packaging = "*"
six = "*"
tornado = "*"
pyyaml = "*"
bokeh = "*"

[requires]
python_version = "3.6"
